/*fix offset*/
body {
	margin: 0;
	background-color: #FFF1D0;
}

/*first colored box*/
#box-1 {
	background-color: #F0C808;
	width: 100%;
	height: 400px;
	position: relative;
}

/*box for text inside rectangle*/
.inner-box {
	background-color: white;
	width: 75%;
	height: 150px;
	position: absolute;
	margin: 10% 13%;
	box-shadow: 2px 2px 7px black;
}

.inner-box h1 {
	margin: 7% 0 0 0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

/*second colored box*/
#box-2 {
	top: 50%;
	margin-top: 20%;
	background-color: #DD1C1A;
	width: 100%;
	height: 500px;
	position: relative;
}

/*third colored box*/
#box-3 {
	top: 60%;
	background-color: #07A0C3;
	width: 100%;
	height: 300px;
	position: relative;
}